.coin-container {
  background-color: #f5f5f5;
  text-align: center;
  padding: 20rpx 0;
  .coin-detail {
    margin-bottom: 14rpx;
    .coin,
    .current-coin {
      color: #f2ac38;
    }
    .coin {
      margin-right: 12rpx;
    }
  }
  .progress-bar {
    width: 240rpx;
    height: 10rpx;
    background-color: #e3e3e3;
    margin: 0 auto;
  }
}
.deliver-container {
  display: flex;
  .deliverMan-image {
    width: 72rpx;
    height: 72rpx;
    margin: 0 20rpx;
  }
  .deliver-name {
    font-size: 28rpx;
  }
  .deliver-time {
    color: #909090;
  }
  .changeTime-image {
    position: relative;
    top: 40rpx;
    width: 20rpx;
    height: 20rpx;
    margin-left: 70rpx;
  }
}
.deliver-evaluation {
  text-align: center;
  margin-top: 80rpx;
  .title {
    font-size: 32rpx;
    font-weight: bold;
  }
  .evaluation-image {
    display: flex;
    margin-top: 48rpx;
    margin-left: 190rpx;
    .image-container {
      text-align: center;
      margin-right: 66rpx;
      image {
        width: 80rpx;
        height: 80rpx;
      }
      .description {
        color: #9d9d9d;
      }
    }
  }
}
.shop-container {
  margin-top: 110rpx;
  .shop-info {
    display: flex;
    align-items: center;
    image {
      width: 74rpx;
      height: 74rpx;
      margin: 0 20rpx;
    }
    .shop-name {
      width: 471rpx;
    }
  }
  .shop-evaluation {
    text-align: center;
    margin-top: 80rpx;
    .title {
      font-size: 32rpx;
      font-weight: bold;
    }
    .star-container {
      margin-top: 50rpx;
      margin-left: 34rpx;
      image {
        width: 50rpx;
        height: 50rpx;
        margin-right: 38rpx;
      }
    }
  }
}
.bottom {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 0 30rpx;
  padding-top: 36rpx;
  background-color: #f5f5f5;
  .inner {
    background-color: #cccccc;
    padding: 26rpx 0;
    text-align: center;
    font-size: 34rpx;
    color: #d94d5a;
    font-weight: bold;
  }
}
