.order-container {
  background-color: #f4f4f4;
  height: 100%;
}
.order {
  padding-top: 32rpx;
  background-color: #fff;
  margin-bottom: 22rpx;
  padding-bottom: 22rpx;
  .order-top {
    display: flex;
    align-items: center;
    image {
      width: 70rpx;
      height: 70rpx;
      margin-left: 34rpx;
      margin-right: 26rpx;
    }
    .name-container {
      width: 440rpx;
      position: relative;
      top: 8rpx;
      .name {
        color: black;
        font-size: 30rpx;
      }
    }
    .order-status {
      font-size: 32rpx;
    }
  }
  .order-time {
    color: #999;
    font-size: 24rpx;
    margin-top: 10rpx;
  }
  .food-container {
    display: flex;
    .order-food {
      width: 530rpx;
      font-size: 26rpx;
      margin-left: 128rpx;
      color: #727272;
    }
    .order-price {
      color: #333;
      font-weight: bold;
    }
  }

  .order-again {
    margin-left: 321rpx;
    margin-right: 26rpx;
  }
}
